.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;

  h1 {
    color: #4CAF50;
    margin-bottom: 20px;
  }

  .form, .monthly-profit, .salary-form, .forest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    label {
      margin: 5px 0;
      font-weight: bold;
      color: #333;
    }

    input[type="date"],
    input[type="number"],
    select {
      width: 200px;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    button {
      padding: 10px 20px;
      margin: 5px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #45a049;
      }
    }
  }

  .record-list {
    list-style: none;
    padding: 0;

    li {
      padding: 8px;
      margin-bottom: 8px;
      background-color: #f2f2f2;
      border-radius: 4px;
      color: #555;
      font-size: 16px;

      strong {
        color: #333;
      }
    }
  }

  h2 {
    color: #333;
    margin-top: 20px;
  }
}

.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a049;
}

.forest {
  position: relative;
  width: 100%;
  height: 400px; /* Orman sahnesinin boyutunu ayarlayın */
  margin-top: 20px;
}

.forest div {
  height: 100%; /* Orman içeriği tam oturur */
}

  button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;

    &:hover {
      background-color: #45a049;
    }
  }

  /* Kullanıcı İkonu */
.user-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.user-icon:hover {
  background-color: #45a049;
}

/* Giriş Formu */
.login-form {
  max-width: 600px;
  min-width: 400px;
  margin: 50px auto;
  margin-bottom: 0px;
  padding: 20px;
  padding-right: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a049;
}

/* Geri Dön Butonu */
.back-button-login {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #45a049;
}

.forest-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10; /* Diğer içeriklerin üstünde */

  /* İçindeki canvas öğesi */
  canvas {
    width: 100%;
    height: 100%;
  }
}

.reset-button {
  position: absolute; /* Sayfa boyunca sabit kalır */
  top: 0px; /* Üstten boşluk */
  right: 20px; /* Sağdan boşluk */
  background-color: black !important; /* Yeşil arka plan */
  color: white; /* Beyaz yazı rengi */
  border-radius: 150px; /* Köşeleri yuvarlama */
  cursor: pointer; /* İmleç tıklanabilir gösterir */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Hover efekti */
  z-index: 100;
}

.reset-button:hover {
  background-color: black; /* Hover sırasında daha koyu yeşil */
  transform: scale(1.1); /* Hover sırasında büyür */
}

.tree-info {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.tree-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tree-info li {
  margin-bottom: 5px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Yarı saydam siyah arka plan */
  display: flex !important;
  visibility: visible !important;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Üstte görüntülensin */
}

.popup {
  background-color: #fff; /* Beyaz kutu */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.popup-content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}


.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 20; /* Üstte görünsün */
}

.back-button:hover {
  background-color: #45a049;
  color: white !important;
}
